// @import url("https://fonts.google.com/specimen/Josefin+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/* variables */

$prim-desat-red: hsl(0, 36%, 70%);
$prim-soft-red: hsl(0, 93%, 68%);

$neu-gray: hsl(0, 6%, 24%);
$grad-header: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
$grad-main: 135deg, #fefaf9, #fff3f3;
$grad-button: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);

$font-size: 15px;
$font-size-large: 20px;
$font-family: "Josefin Sans", sans-serif;
$font-light: 300;
$font-medium: 400;
$font-bold: 600;

$main-bg: "../images/bg-pattern-deskyop.svg";

$breakpoint: 1170px;
// $breakpoint: 835px;
// $breakpoint: 968px;

/* default */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  font-family: $font-family;
  color: $prim-desat-red;
  min-width: 240px;
  min-height: 100vh;
}

.main {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 88px auto 1fr;
  .header {
    background: linear-gradient($grad-header);
    min-height: 55px;
    padding: 2em 0 2em 2em;
    &__logo {
      img {
        height: 20px;
        width: 105px;
      }
    }
  }
  &__imgwrapper {
    img {
      width: 100%;
      display: block;
    }
  }
  .section {
    min-width: 200px;
    // min-height: 464px;
    padding: 4em 2.5em 2.5em 2em;
    background: linear-gradient($grad-main);
    text-align: center;
    &__header {
      font-size: 2.6rem;
      text-transform: uppercase;
      line-height: 0.8em;
      letter-spacing: 0.25em;
      font-weight: $font-light;
      margin-bottom: 0.3em;
    }
    &__special {
      display: block;
      color: $neu-gray;
      line-height: 1.2em;
      font-weight: $font-bold;
    }
    &__content {
      font-weight: $font-medium;
      font-size: 0.9rem;
      line-height: 1.5em;
      margin-bottom: 2.25em;
      max-width: 400px;
      margin: 0 auto;
    }
    .form {
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
      &__input {
        font-size: 1rem;
        display: inline-block;
        padding: 1em 1.75em;
        border-radius: 2em;
        width: 100%;
        outline: none;
        border: 1px solid $prim-desat-red;
        background: transparent;
        font-family: inherit;
        &::placeholder {
          color: $prim-desat-red;
        }
      }
      &__submit {
        position: absolute;
        right: -5px;
        top: 0;
        width: 68px;
        height: 50px;
        background: linear-gradient($grad-button);
        object-fit: none;
        border-radius: 2em;
      }
    }
  }
}

@media only screen and (min-width: 1126px) {
  body {
    font-size: $font-size-large;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    max-width: 1440px;
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .main {
    grid-template-areas:
      "section image"
      "section image";
    grid-template-rows: 100px 1fr;
    max-height: 800px;
    min-height: 600px;
    .header {
      position: absolute;
      grid-area: header;
      max-height: 105px;
      padding: 3em 0 0 8em;
      background: none;
      // width: 100%;
      // max-width: 830px;
      &__logo {
        display: block;
        width: 158px;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    &__imgwrapper {
      grid-area: image;
      max-height: 800px;
      img {
        max-height: 800px;
        min-width: 610px;
      }
    }
    .section {
      grid-area: section;
      background: url(../images/bg-pattern-desktop.svg);
      max-height: 800px;
      max-width: 830px;
      width: 100%;
      padding: 28% 25% 19.5% 20%;
      font-size: 2rem;
      &__header {
        font-size: 4rem;
        text-align: left;
      }
      &__content {
        font-size: 1rem;
        margin-right: 10px;
        text-align: left;
        margin-bottom: 2em;
        line-height: 1.75em;
      }
      .form {
        width: 90%;
        &__input {
          font-size: 1.2rem;
        }
        &__submit {
          width: 100px;
          right: -30px;
          height: 60px;
          border-radius: 3em;
          box-shadow: 3px 3px 19px 0 $prim-desat-red;
        }
      }
    }
  }
}
